.hidden {
  display:none;
}

img {
  width:800px;
  display:block;
  margin:auto;
}

h1 {
  text-align:center;
  font-family:chalkduster;
  font-size:70px;
  background-image:url("https://media.istockphoto.com/id/493316308/photo/splattered-blood-drops-isolated-on-white-background.jpg?s=612x612&w=0&k=20&c=3oWdOkNauhwInn2fcliuQX6cFE60r3nSkdZdP9zBoK4=");
}

body {
  font-family:chalkduster;
}

form {
  background-image:url("https://media.istockphoto.com/id/493112318/photo/scary-zombie-hand-with-dirty-fingers-isolated-on-white.jpg?s=612x612&w=0&k=20&c=rug6zd4qkCf-4NNEwuNASRUW_i7wtWPlV1NwxWj53K8=");
  background-position:right;
  background-repeat:no-repeat;
}

h3 {
  color:red;
  text-align:center;
}

#pizza-selections {
  color:darkred;
  text-align:left;
}

#size-label {
  color:darkred;
  font-weight:bold;
}

#blood-label {
  color:darkred;
  font-weight:bold;
}

#toppings-label {
  color:darkred;
  font-weight:bold;
}

#meats-label {
  color:red;
  font-weight:bold;
}

#non-meats-label {
  color:red;
  font-weight:bold;
}

#submit-button {
  font-family:chalkduster;
  background-color:darkred;
  color:white;
}

#reset-button {
  font-family:chalkduster;
  background-color:black;
  color:darkred;
}

#size {
  font-family:chalkduster;
}

#blood {
  font-family:chalkduster;
}

#add-to-cart-button {
  font-family:chalkduster;
  background-color:darkred;
  color:white;
  display:block;
  margin:auto;
}